/* Page Layout */

h1{
    border: solid;
    border-color: white;
}

/* Patient MISC information */

.infocard {
    float: left;
    width: 100%;
    margin-bottom: 16px;
    margin-top: 2px;
    padding: 0 8px;
    align-self: center;
    margin:auto;
    
  }

  .infocard2 {
    float: top;
    width: auto;
    margin-bottom: 16px;
    padding: 0 8px;
    align-self: center;
    margin:auto;
  }

  .infocard3 {
    align-content: center;
    float: top;
    width: 96%;
    margin-bottom: 16px;
    padding: 0 8px;
    align-self: center;
    margin:auto;
  }
  
  .row {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .container {
    padding: 0 16px;
  }

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  input[type=text], select {
    width: auto;
    padding: 6px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: white;
  }

  select {

    width: auto;
    padding: 6px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: grey;
  }

  table {
    font-family: arial, sans-serif;
    border: 1px solid white;
    width: 100%;
  }

th {
  width: 27%;
}
  
  td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: white;
  }
