<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Booking Confirmed!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='styles.css'>
</head>
<body>

    <header>
        <br>
        <a href="#">Logo |</a>
        <a href="#">Font Size |</a>
        <a href="#">Lang En</a>
    </header>

    <div id="booking-status">
        <h1>Booking Confirmed</h1>
        <p>Your appointment has been confirmed. Please find the details of your booking below.</p>
    </div>

    <table class="appointment-list">
        <tr>
            <th>Service</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>Regular Checkup</td>
            <td>13/09/2022</td>
            <td>4:30pm</td>
            <td>Confirmed</td>
        </tr>
    </table>

    <div id="update-cancel-buttons">
        <button>Update Booking</button>
        <button>Cancel Booking</button>
    </div>
    
</body>
</html>
