<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>!!!Emergency SOS Page!!!</title>
</head>

<body>
<!--    Place the Navigation bar code here -->
<div class="nav-bar"></div>


<h1> EMERGENCY APPOINTMENT</h1>
<br>
<h2>PLEASE NOTE：</h2>
<ul style="list-style-type: square">
    <li><b>Emergency appointments are meant for situations which cannot wait until the next day.</b></li>
    <br>
    <li><b>Appointment period will last only for 10 minutes.</b></li>
    <br>
    <li><b>No medical certificates,or repeat prescription will be given at the appointment.</b></li>
    <br>
    <li><b>The doctor will help for one problem only.</b></li><br>
</ul>

<!-- use labal so that user can click the word to tick-->
<label><input type="checkbox" id="read-confirm" onclick = "return false;"checked/> I have read all the guidelines stated above and wish to proceed</label>
<br>
<button style="background: orange" onclick="window.location.href='medicalForm.html'" >BOOK NOW</button>

</body>
</html>
<link rel="stylesheet" href="Oliverstyle.css"><script src="script.js"></script>
