<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="manageappt.css">
    <title>Manage Appointment Page</title>

</head>

<body>
    <h1>Appointments</h1>
    <h3>Current Appointments:</h3>

    <table id="currentapt">
        <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 5%;">
        </colgroup>
        <tr>
            <th>Service</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Confirmed</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Berglunds snabbköp</td>
            <td>Christina Berglund</td>
            <td>Sweden</td>
            <td>Confirmed</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
            <td>Confirmed</td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <br><br>
    <h3>Past Appointments:</h3>
    <table id="pastapt">
        <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 5%;">

        </colgroup>
        <tr>
            <th>Service</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td> AndMariaers</td>
            <td>Germany</td>
            <td>Finished</td>
        </tr>
        <tr>
            <td>Berglunds snabbköp</td>
            <td>Christina Berglund</td>
            <td>Sweden</td>
            <td>Finished</td>
        </tr>
    </table>

</body>

</html>
