<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Form Page </title>
</head>

<body>
<!--    Place the Navigation Bar code here  -->
<div class="nav-bar"></div>

<!--  Body  -->
<div class="medicalForm">
<h1> Medical / Health Information </h1>    
    
<h2><b>Personal Information:</b></h2>
   <h3> Full Name：</h3> 
   <br>
   <form action="/form" method="post">
       Name : <input type="text" name="name"/ placeholder="First Name and Last Name">
       <br><br>
       Your Age : <input type="number" id="age" placeholder="0~200" min="0" max="200"/>
       
    <div class="gender">
       Gender :  <input type="radio" id="male" name="gender" value ="male"/>Male
       <input type="radio" id="female" name="gender" value ="female"/>Female
    </div>
      
<!--      User birthday Information-->
    <div class="birth">
        <h3> Date of Birth:</h3>
        YY/MM/DD: <input type="date" name="day">
    </div>  
      
<!--  User Address Information    -->
    <div class="Address">
        <h3>Your Residential Address</h3>
        <input type="text" name="street" placeholder="Street address" style="width: 150px">
        <br>
        <input type="text" name="addressInfo" placeholder="Address Information" style="width: 300px">
        <br>
        <input type="text" name="postal" placeholder="Postal Code" style="width: 100px">
       </div>  
      <!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Form Page </title>
</head>

<body>
<!--    Place the Navigation Bar code here  -->
<div class="nav-bar"></div>

<!--  Body  -->
<div class="medicalForm">
<h1> Medical / Health Information </h1>    
    
<div class="personal-info">
<h2><b>Personal Information:</b></h2>
<form action="/medicalForm" method="POST">
       Name : <input type="text" name="name" placeholder="First, Middle, Last">
       <br><br>
       Your Age : <input type="number" name="age" placeholder="0~200" min="0" max="200"/>
    <div class="nationality">
       Nationality: <input type="text" name="nationality"/>
    </div>

    <div class="number">
        Phone Number: <textarea name="phone" placeholder="eg. +65 12345678" cols="20" rows="1"></textarea>
        <br><br>
        Emergency Contact Number: <textarea name="emergent" placeholder="eg. +65 12345678" cols="20" rows="1"></textarea>
    </div>
       
    <div class="gender">
       Gender :  <input type="radio" id="male" name="gender" value ="male"/>Male
       <input type="radio" id="female" name="gender" value ="female"/>Female
    </div>
      
<!--      User birthday Information-->
    <div class="birth">
        <h3> Date of Birth:</h3>
        YY/MM/DD: <input type="date" name="day">
    </div>  
      
<!--  User Address Information    -->
    <div class="Address">
        <h3>Your Residential Address</h3>
        <textarea name="address" placeholder="Please fill in detail" cols="100" rows="10"></textarea>
        <br>
       </div>  
    </div>
<!--Basic Medical Form inputs-->
      
    <div class="medical-information">
        <h3>Check the conditions that apply to you or any of your family members:</h3>
        <input type="radio" id="Asthma" name="condition" value ="Asthma"/>Asthma &nbsp;
       
       <input type="radio" id="Diabetes" name="condition" value ="Diabetes"/>Diabetes &nbsp;
       
       <input type="radio" id="Cancer" name="condition" value ="Cancer"/>Cancer &nbsp;
       
       <input type="radio" id="Hypertension" name="condition" value ="Hypertension"/>Hypertension
       <br>
       
       <h3>Are you currently taking any medication?</h3>
       <input type="radio" id="yes" name="answer" value ="Yes"/>Yes &nbsp;
       <input type="radio" id="no" name="answer" value ="No"/>NO
       <br>
       
       <h3>Do you have any medical allergies</h3>
       <input type="radio" id="Yes" name="anr" value ="Yes"/>Yes &nbsp;
       <input type="radio" id="No" name="anr" value ="No"/>NO
       <br>
       
       <h3>Covid Vaccination Doses:</h3>
       <input type="radio" id="1" name="vaccination" value ="1 dose"/>1 dose &nbsp;
       <input type="radio" id="2" name="vaccination" value ="2 doses"/>2 doses &nbsp;
       
       <input type="radio" id="3" name="vaccination" value ="3 doses"/>3 doses &nbsp;
        
    </div>
      
    <div class="moreInfo">
        <h3>Please list any medical health conditions you have, or have had in the past</h3>
    
        <textarea cols="100" rows="10" placeholder="Write Here" name="moreInfo" maxlength="-1"></textarea>
    </div>  
    
    <input type="submit" value="Submit Form" id="submit" style="width: 150px;height: 40px; font-size: 15px"/>
</form> 
</div>

</body>
</html>
<link rel="stylesheet" href="../public/stylesheets/Oliverstyle.css"><script src="Oliverscript.js"></script>
<!--Basic Medical Form inputs-->
      
    <div class="medical-information">
        <h3>Check the conditions that apply to you or any of your family members:</h3>
        <input type="radio" id="Asthma" name="condition" value ="Asthma"/>Asthma &nbsp;
       
       <input type="radio" id="Diabetes" name="condition" value ="Diabetes"/>Diabetes &nbsp;
       
       <input type="radio" id="Cancer" name="condition" value ="Cancer"/>Cancer &nbsp;
       
       <input type="radio" id="Hypertension" name="condition" value ="Hypertension"/>Hypertension
       <br>
       
       <h3>Are you currently taking any medication?</h3>
       <input type="radio" id="yes" name="answer" value ="yes"/>Yes &nbsp;
       <input type="radio" id="no" name="answer" value ="no"/>NO
       <br>
       
       <h3>Do you have any medical allergies</h3>
       <input type="radio" id="Yes" name="answer" value ="Yes"/>Yes &nbsp;
       <input type="radio" id="No" name="answer" value ="No"/>NO
       <br>
       
       <h3>Covid Vaccination Doses:</h3>
       <input type="radio" id="1" name="vaccination" value ="1"/>1 dose &nbsp;
       <input type="radio" id="2" name="vaccination" value ="2"/>2 doses &nbsp;
       
       <input type="radio" id="3" name="vaccination" value ="3"/>3 doses &nbsp;
        
    </div>
      
    <div class="moreInfo">
        <h3>Please list any medical health conditions you have, or have had in the past</h3>
    
        <textarea cols="100" rows="10" placeholder="Write Here"></textarea>
    </div>  
    
    <input type="submit" value="Submit Form" id="submit" style="width: 150px;height: 40px; font-size: 15px">
   </form>  

</div>


</body>
</html>
<link rel="stylesheet" href="Oliverstyle.css"><script src="Oliverscript.js"></script>
